/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .top-left-logo {
  float: right;
  display: inline-block;
  vertical-align: middle;
  padding: 0px;
  width: 15%;
  max-height: 100px;
}

.nav {
  background-color: #24292E;
  display: inline-block;
}
.nav:hover {
  background-color: #E6E6E6;
  transition: 0.5s;
}
.top-bar {
  background-color: #24292E;
}
.review-body {
  text-indent: 3rem;
}

.vote-test p, button{
  background-color: red;
}

.form-small {
  padding-left: 1rem;
  width: 50%;
}

.form-large, textarea {
  padding-left: 1rem;
  padding-bottom:1rem;
  width: 80%;
  overflow:scroll;
  height: 200px;
  rows: 50;
  float:left;
}
.notice, .alert {
  background-color: #37BECC;
  font-style: italic;
}
.container_standard {
  border: 25px solid #E6E6E6;
}
